<!-- Posting Task -->
<div class="card task" id="<%= dom_id task %>" style="margin-top: 20px">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="image is-64x64">
          <%= image_tag(current_user.image_url_or_default) %>
        </div>
      </div>
      <div class="media-content">
        <div class="content">
          <strong1> <%= current_user.name %> </strong1>
          <br>
          <p> <%= task.title %> </p>
        </div>
      </div>
      <div class="media-right">
        <strong>TASK COMPLETED!</strong> 
        <br>
        <small> <%= task.completed.strftime("%^b %d") %> </small>
      </div>     
    </div>
  </div>
  <div class="card-footer">
    <%= link_to icon("thumbs-up", ""), toggle_like_path(task_id: task.id), 
          class: "js-like-task button is-white #{'is-liked' if current_user && current_user.liking?(task)}", 
          method: 'post', remote: true %>
  </div>
    <div class="likes-sentence">
      <%= render "likes/likes_sentence_task", task: task %>
    </div>
</div>

