<div class="columns is-centered">
  <div class="column is-4">
    <div class="card", style="margin-top: 15px;">
      <div class= "card-header">
        <h1 class="card-header-title">Create Account</h1>
      </div>
      <div class="card-block">
        <% if @user.errors.any? %>       
          <ul>
            <% @user.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for @user do |f| %>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <%= f.text_field :name, placeholder: "Enter Text...", class: "input" %>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <%= f.text_field :email, placeholder: "Enter Text...", class: "input" %>
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <%= f.text_field :password, placeholder: "Enter Text...", class: "input" %>
            </div>
          </div>
          <div class="field">
            <label class="label">Password Confirmation</label>
            <div class="control">
              <%= f.text_field :password_confirmation, placeholder: "Enter Text...", class: "input" %>
            </div>
          </div>
          <div class="field">
            <%= f.submit "Register", class: "button is-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>