<div class="columns is-centered">
  <div class="column is-4">
    <div class="card">
      <div class= "card-header">
        <h1 style="card-header-title">Create Account</h1>
      </div>
      <div class="card-block">
        <% if @user.errors.any? %>       
          <ul>
            <% @user.errors.full_messages.each do |msg|%>
              <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        <%= form_for @user do |f| %>
          <div class="field">
            <%= f.text_field :name, placeholder: "Name", class: "input" %>
          </div>
          <div class="field">
            <%= f.text_field :email, placeholder: "Email", class: "input" %>
          </div>
          <div class="field">
            <%= f.text_field :password, placeholder: "Password", class: "input" %>
          </div>
          <div class="field">
            <%= f.text_field :password_confirmation, placeholder: "Password Confirmation", class: "input" %>
          </div>
          <div class="field">
            <%= f.submit "Register", class: "button is-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>