<div class="card-goals" data-id="<%= goal.id %>" id="card-goal-<%= goal.id %>">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <div class="goal-title"><strong><%= goal.title %></strong></div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <% unless goal.completed %>
          <%= link_to icon("check-square-o", " "), complete_path(goal.id), class: "menu-item" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="set-date" style="display:flex; justify-content:space-between">
    <strong><em>Set Date:</em></strong> <em class="due-date"><%= goal.due_date %></em>
  </div>
  <div class="card-content">
    <div class="content" style="position: relative;">
      <progress class="progress is-info" value="<%= goal.completion_rate %>" max="100"></progress>
      <span class="progresslabel"><%= goal.completion_rate %> % </span>
    </div>
  </div>
</div>





