<% if current_user %>  
<div class="container">  
  <div class="columns">
    <div class="column is-5">
      <aside class="menu">
        <div class="media">
          <div class="media-left">
            <div class="image is-128x128">
              <%= image_tag(current_user.image_url_or_default) %>
            </div>
          </div>
          <div class="media-content">   
            <h1 class="title"><%= current_user.name %></h1>
            <ul class="menu-list">
              <!-- <li><%= link_to icon("check-square-o", "Accomplish"), "#", class: "menu-item" %></li> -->
              <li><%= link_to icon("users", "Friends"), users_path, class: "menu-item" %></li>               
            </ul>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              <h1 class="subtitle">GOALS TO ACHIEVE</h1>
            </div>
          </div>
          <div class="card-content">
            <ul class="menu-complete-list">
              <% @incomplete_goals.each do |goal| %>
                <%= render "home/goal_listing", goal: goal %>
                <%= render "tasks/add_task_modal", goal: goal %>
              <% end %>
            </ul>
          </div>
          <footer class="card-footer">
            <%= link_to "Add Goal", "/", class: "card-item js-show-modal is-outlined", remote: true %>
          </footer> 
        </div>
        <%= render "goals/add_goals" %>
      </aside>
    </div>
    <div class="column is-7">
      <div class="card">
        <div class="card-header">
          <div class="card-header-title">
            <h1 class="subtitle">Goal Task</h1>
          </div>
        </div>
        <div class="card">
          <div class="card-content-goal-task">             
            <% @incomplete_goals.each do |goal|%>
              <div class="card hidden" id="<%= dom_id goal %>">
                <div class="card-content">             
                  <span><strong><%= goal.title %></strong></span>
                </div>          
                <div class="task-list">
                  <% goal.tasks.each do |task| %>
                    <% if task.persisted? %>
                     <%= render task %>
                    <% end %>
                  <% end %>          
                </div>
                <footer class="card-footer">
                  <%= link_to "Add Task", "/", class: "card-item is-outlined add-task", 'data-goal-id': goal.id, remote: true %>
                </footer>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="columns is-centered">
        <div class="column is-10 posts">
          <%= render 'home/posts', items: @completed_goals %>
        </div>
      </div>
    </div>
  </div>
</div>
  
<% else %>
  <%= link_to "Create An Account", new_user_path, class: "button is-warning" %>
  <%= link_to "Log In", login_path, class: "navbar-item" %>
<% end %>