<!-- Posting Goal -->
<div class="card goal" id="<%= dom_id goal %>" style="margin-bottom: 20px">
  <div class="card-content-listing">
    <div class="media">
      <div class="media-left">
        <div class="image is-64x64">
          <%= image_tag(current_user.image_url_or_default) %>
        </div>
      </div>
      <div class="media-content">
        <div class="content">
          <user> <%= current_user.name %> </user>
          <br>
          <p> <%= goal.title %> </p>
        </div>
      </div>
      <div class="media-right">
        <strong>GOAL COMPLETED!</strong> 
        <br>
        <small> <%= goal.completed.strftime("%^b %d") %> </small>
      </div>     
    </div>
  </div>
  <div class="card-footer">
    <%= link_to icon("thumbs-up", ""), toggle_like_path(goal_id: goal.id), 
          class: "js-like-goal button is-white #{'is-liked' if current_user && current_user.liking?(goal)}", 
          method: 'post', remote: true %>
  </div>
    <div class="likes-sentence">
      <%= render "likes/likes_sentence", goal: goal %>
    </div>
</div>

