<!DOCTYPE html>
<html>
  <head>
    <title>ProgressPlan</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=283296398853049";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">ProgressPlan</a> 
      <div class="navbar-menu">
        <div class="navbar-end">
          <% if current_user %>
            <%= link_to root_path(current_user), class: "navbar-item" do %> 
            <%= link_to "Log Out", logout_path, class: "navbar-item" %>
          <% end %>
          <% else %>
            <%= link_to "Sign Up", new_user_path, class: "navbar-item" %>
            <%= link_to "Log In", login_path, class: "navbar-item" %>
          <% end %>
        </div>      
      </div>
      </div>  
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
