<!DOCTYPE html>
<html>
  <head>
    <title>ProgressPlan</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar", style="background-color: grey;">
    <div class="navbar-menu">
      <div class="navbar-end", style="background-color: lightpink;">
        <% if current_user %>
          <%= link_to "Log Out", logout_path, class: "navbar-item" %>
        <% else %>                 
          <%# link_to "Log Out", logout_path, class: "navbar-item" %>
        <% end %>  
      </div> 
    </div>  
  </nav>
  <%= flash_messages(flash) %>
    <%= yield %>
  </body>
</html>

